<%# navigation styled for Bootstrap 4.0 %>
<div class="container">
  <nav class="navbar navbar-md navbar-light bg-faded">
    <div  id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to t('clusters_home'), clusters_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </nav>
</div>
